<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
         Init Inkalktier - API
    </title>
</head>
<body>
    <h5>Willkommen zur Inkalktier - API</h5>
    NEU : Test JsonString </br>
    <div>
    http://<hostname>:5000\test\<i>Arbeitsblattname</i></br>
    </br>
    z.B. http://34.89.209.234:5000\test\Arbeiten,</br>
     http://34.89.209.234:5000\test\Unterkunft,</br>
    http://34.89.209.234:5000\test\Wohnen,</br>
    http://34.89.209.234:5000\test\Vorgarten,</br>
    http://34.89.209.234:5000\test\Essbereich,</br>
    http://34.89.209.234:5000\test\Klosett</br>
        </div>



</body>
</html>